.bImage{
    height: 30vh;
    text-align: center;
    background: url(../images/beach-paradise_720.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.todayCard{
  
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
    /* width: 30rem; */
}

.sRowCards{
    display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
}

/* .todayCardDes{
   color: blue;
} */

/* .backgroundTodayCardColor{
    color: blue;
} */


/* .seeThrew{
    opacity: 52%;
   border: 30%;
   
} */

.geo{
    display: flex;
    justify-content: start;

}

.todayCardColor{
    background-color:rgb(35, 120, 198,0.52);
}